<!DOCTYPE html>
<html>
<head>
    <title>Blog - Tunisian Communityjs-tn</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link data-ng-if="page === 'cover'" rel="stylesheet" href="css/cover.css">
    <link data-ng-if="page === 'blog'" rel="stylesheet" href="css/blog.css">
    <base href="/">
</head>
<body>
<ng-view></ng-view>

<script src="vendors/angular/angular.min.js"></script>
<script src="vendors/angular-route/angular-route.min.js"></script>
<script data-main="app/main" src="vendors/requirejs/require.js"></script>

</body>
</html>