<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Tunisian Community-js</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#/blog">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">Tunisian Community-js page.</h1>
                <p class="lead">A workspace for tunisian community-js (under construction).</p>
                <p class="lead">
                    <a href="#" class="btn btn-lg btn-default">contribute for the best of the community</a>
                </p>
            </div>
            <!--
                        <div class="mastfoot">
                            <div class="inner">
                                <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
                            </div>
                        </div>
            -->
        </div>

    </div>

</div>